extends layout

block extraHead
  link(rel="stylesheet", href="/stylesheets/index.css")

block content
  div(class="index-grid-container")
    a(href="/menu")
      div(class="index-grid-container__cell")
        h1(class="index-grid-container__cell__title") View Menu
        p(class="index-grid-container__cell__body") View menu items and add them to cart.
    a(href="/cart")
      div(class="index-grid-container__cell")
        h1(class="index-grid-container__cell__title") View Cart
        p(class="index-grid-container__cell__body") Remove items from cart and place order. 
    a(href="/orders")
      div(class="index-grid-container__cell")
        h1(class="index-grid-container__cell__title") View Orders
        p(class="index-grid-container__cell__body") View and bump placed orders.
    a(href="/update")
      div(class="index-grid-container__cell")
        h1(class="index-grid-container__cell__title") Update Menu
        p(class="index-grid-container__cell__body") Add, edit and remove menu items.