doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/layout.css")
    block extraHead
  body
    a(href="/")
      header(class="brand-header")
        h1(class="brand-header__text") Restaurant POS

    block content
