@import "variables.css";

/* ==========================================================================
    Menu page styles.
    ========================================================================== */
  .menu-list-container {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu-list-container__item {
    background-color: var(--main-bg-color);
  }

  .menu-list-container__item__title {
    color: var(--main-text-color);
    margin: 5px;
    overflow-y: hidden;
    font-size: 1.4em;
    max-height: 1.6em;
  }
  .menu-list-container__item__description {
    color: var(--main-text-color);
    font-style: italic;
    margin: 0 5px 5px 5px;
    overflow-y: scroll;
    font-size: 1em;
    max-height: 2.4em;
  }
  .menu-list-container__item__price {
    color: var(--main-text-color);
    font-weight: 800;
    margin: 0 5px 5px 5px;
  }



/* ==========================================================================
     Media queries for different breakpoints.
     ========================================================================== */
  
     @media (max-width: 600px){
      /* Menu page grid styles.
       ========================================================================== */
      .menu-list-container__item {
        margin: 8px 0 8px 0;
        border-top: 2px solid var(--main-text-color);
        border-bottom: 2px solid var(--main-text-color);
      }
     }
    @media (min-width: 601px) and (max-width: 1023px) {
      /* Menu page grid styles.
       ========================================================================== */
      .menu-list-container__item {
        border: 2px solid var(--main-text-color);
        margin: 10px;
       }
    }
    @media (min-width: 1024px) {
      /* Menu page grid styles.
       ========================================================================== */
      .menu-list-container__item {
        border: 2px solid var(--main-text-color);
        margin: 12px;
       }
    }
      